language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.2

services:
  - redis-server

before_script:
  - bundle exec rake travis:prepare

script:
  - bundle exec rake spec
  - xvfb-run bundle exec rake evergreen:run
